<% provide(:title, "Log in") %>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"></button>
    <h4 class="modal-title" id="myModalLabel">Login page</h4>
</div>

<div class="modal-body">
    <%= form_for :session, url: login_path do |f| %>
        <p>Email:</br><%= f.text_field :email %><br></p>
        <p>Password:</br><%= f.password_field :password %></p>
        
        <div class="modal-footer">
            <p><%= f.submit "Log in", class: "btn btn-primary"%></p>
        </div>
        
    <% end %>
</div>
