/* Add asterisk sign before required fields */
#item-name:before,#item-condition:before,#date-start:before,#date-end:before{
    content:"*";
    font-weight:bold;
    color:red;
}

/* Style for image adding button when registering a new item */
#add-img {
    height: 150px;
    width: 150px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 0.5px solid black;
    text-align: center;
}

/* Style for calendar when choosing available time for a new item */
input#date_from, input#date_to {
    border: 1px solid #dfdfdf;
    font-family: Roboto, Arial, Helvetica;
    font-size: 14px;
    color: #404040;
    background-color: #fafafa;
    border: #c0c0c0 1px solid;
    width: 100px;
}
span.label {
    font-family: Roboto, Arial, Helvetica;
    font-size: 18px;
    color: #404040;
}

/* Style for grid view in item page */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 35px;
    background-color:white;
    padding: 10px;
  }
.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    border: 0.5px solid black;
    text-align: center;
    height: 200px;
    width: 200px;
  }
  
/* Style for delete button @ top right of registered items in item page */
.img-wrap {
    position: relative;
    display: inline-block;
    border: 1px red solid;
}
.img-wrap .close {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100;
    background-color: #FFF;
    padding: 5px 2px 2px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    opacity: .2;
    text-align: center;
    font-size: 25px;
    line-height: 10px;
    border-radius: 50%;
}
.img-wrap:hover .close {
    opacity: 1;
}