<!--
* This modified template file is referenced to coreui.io,
* along with other third-party stylesheets and javascript files.
* Source Repository: https://github.com/coreui/coreui-free-bootstrap-admin-template
-->

<!--
* CoreUI - Free Bootstrap Admin Template
* @version v2.1.7
* @link https://coreui.io
* Copyright (c) 2018 creativeLabs Łukasz Holeczek
* Licensed under MIT (https://coreui.io/license)
-->

<!DOCTYPE html>
<html lang="en">

<head>
<!-- Meta information used for SEO -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<meta name="description" content="Neighborrow - Your Platform to Borrow and Lend">
<meta name="author" content="Neighborrow">
<meta name="keyword" content="Borrow, Lend, CSC444">


<!-- Base stylesheets & third-party stylesheets-->
<link href="/vendors/@coreui/coreui/css/style.css" rel="stylesheet">

<!-- Customized stylesheet goes here-->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<script>
@import url('https://fonts.googleapis.com/css?family=Cairo');

body{
font-family: 'Cairo', sans-serif;
}

h1 {
color: #00a899;
font-weight: 600;
font-size: 20px;
margin-bottom: 30px;
}

.contact p {
padding: 30px 0px;
}

.submit{
background:#00a899;
color:#FFF;
border:none;
border-radius:0;
}

</script>
</head>

<body class="app header-fixed">

<div class="app-body">

<%if logged_in? %>
    <div class="sidebar" id="menuModule"></div>
<%end%>

<main class="main">

<div class="container-fluid">


<div id="contact" class="map">
<iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAnpp7FDgcbpfqNskhkAR_Y2E_uMitVXd0
&q=place_id:ChIJ-bt_oLg0K4gRNNZIQRz78JA" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen>
</iframe>
</div>

<div class="contact">
<div class="container">

<h1 class="text-center">SEND MESSAGE</h1>

<div class="col-6 col-sm-12">

<form>
<p class="form-group">
<label for="name">Name:</label>
<input type="name" class="form-control" id="name">
</p>

<p class="form-group">
<label for="surname">Surname:</label>
<input type="surname" class="form-control" id="surname" required>
</p>

<p class="form-group">
<label for="email">E-Mail:</label>
<input type="email" class="form-control" id="email" required>
</p>

<p class="form-group">
<label for="message">Message:</label>
<textarea id="message" class="form-control" rows="7" required></textarea>
</p>

<button type="submit" class="btn btn-default submit">Submit</button>
</form>

</div>

<div class="col-6 col-sm-12 text-center">
<div class="contact-information">

<i class="fa fa-envelope"></i><p>E-mail: sixneighborrow@gmail.com</p>
<i class="fa fa-phone"></i><p>Phone: +123 456 789</p>
<i class="fa fa-home"></i><p>
35 St George St, Toronto, Ontario, Canada M5S 1A4
</div>
</div>

</div>
</div>
</div>




</div>
</main>
</div>










</body>

</html>
