<!--
* This modified template file is referenced to bootsnip
* along with other third-party stylesheets and javascript files.
* Source Repository: https://bootsnipp.com/snippets/bxQ0d
-->


<!DOCTYPE html>
<html lang="en">

<head>
<!-- Meta information used for SEO -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<meta name="description" content="Neighborrow - Your Platform to Borrow and Lend">
<meta name="author" content="Neighborrow">
<meta name="keyword" content="Borrow, Lend, CSC444">


<!-- Base stylesheets & third-party stylesheets-->
<link href="/vendors/@coreui/coreui/css/style.css" rel="stylesheet">

<!-- Customized stylesheet goes here-->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<script>
@import url('https://fonts.googleapis.com/css?family=Cairo');

body{
font-family: 'Cairo', sans-serif;
}

.contact p {
padding: 30px 0px;
}

.contactButton{
font-size: 16px;
font-weight: bold;
background: #19aa8d;
border: none;
min-width: 140px;
}
</script>
</head>

<body class="app header-fixed">

<div class="app-body">

<%if logged_in? %>
    <div class="sidebar" id="menuModule"></div>
<%end%>

<main class="main">


<div class="row align-items-center">
<div class="container mt-5" >

<div class="row" style="height:550px;">
<div class="col-md-6 maps" >
<iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAnpp7FDgcbpfqNskhkAR_Y2E_uMitVXd0
&q=place_id:ChIJ-bt_oLg0K4gRNNZIQRz78JA" width="100%" height="550" frameborder="0" style="border:0" allowfullscreen>
</iframe>
</div>

</p>


<div class="contact col-md-6 col-sm-12 text-center align-self-center">
<h4> Contact us here</h4></p>
<i class="fa fa-envelope"></i>
<p><a href="mailto:sixneighborrow@gmail.com">sixneighborrow@gmail.com</a></p>
<i class="fa fa-phone"></i><p><a href="tel:1234567890">(+1)123-456-7890</a></p>
<i class="fa fa-home"></i><p>
35 St George St, Toronto, Ontario, Canada M5S 1A4
</div>
</div>
</div>
</div>

</main>
</div>







</body>

</html>
