<!DOCTYPE html>
<html lang="en" >
    
    <head>
        <meta charset="UTF-8">
            <title>Bootstrap 4.1 FAQ example with tabs and accordions</title>
            
            <!-- Base stylesheets & third-party stylesheets-->
            <link href="/vendors/@coreui/coreui/css/style.css" rel="stylesheet">
            <link rel='stylesheet' href='https://cdn.3up.dk/mdi@2.2.43/css/materialdesignicons.min.css'>
            
            <%= stylesheet_link_tag 'faq.css' %>
            <style>
                .FAQ-header {
                    background-image: url(https://images.pexels.com/photos/533930/pexels-photo-533930.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
                    height: 300px;
                    width: 100%;
                    margin: 30px 0px;
                    text-align: center
                }
            .invisible{
                color: rgba(0,0,0,0)
            }
            </style>
    </head>
                
                <body>
                
                <div class="FAQ-header">
                    <div class="block" style="justify-content:center; color:#fff; text-align: center">
                        <p>
                            <div class="invisible">
                                <p><h2> Have a question? </h2></p>
                                <p><h6> Please check out these frequently asked questions</h6></p>
                           </div>
                        </p>
                        <p><h2> Have a question? </h2></p>
                        <p><h6> Please check out these frequently asked questions</h6></p>
                    </div>
                </div>
                
                <div class="container">
                <div class="row">
                <div class="col-lg-4">
                <div class="nav nav-pills faq-nav" id="faq-tabs" role="tablist" aria-orientation="vertical">
                <a href="#tab1" class="nav-link active" data-toggle="pill" role="tab" aria-controls="tab1" aria-selected="true">
                <i class="mdi mdi-help-circle"></i> Frequently Asked Questions
                </a>
                <a href="#tab2" class="nav-link" data-toggle="pill" role="tab" aria-controls="tab2" aria-selected="false">
                <i class="mdi mdi-account"></i> Profile
                </a>
                <a href="#tab3" class="nav-link" data-toggle="pill" role="tab" aria-controls="tab3" aria-selected="false">
                <i class="mdi mdi-account-settings"></i> Account
                <a href="#tab5" class="nav-link" data-toggle="pill" role="tab" aria-controls="tab5" aria-selected="false">
                <i class="mdi mdi-coin"></i> Transactions
                </a>
                <a href="#tab6" class="nav-link" data-toggle="pill" role="tab" aria-controls="tab6" aria-selected="false">
                <i class="mdi mdi-help"></i> General help
                </a>
                </div>
                </div>
                <div class="col-lg-8">
                <div class="tab-content" id="faq-tab-content">
                <div class="tab-pane show active" id="tab1" role="tabpanel" aria-labelledby="tab1">
                <div class="accordion" id="accordion-tab-1">
                <div class="card">
                <div class="card-header" id="accordion-tab-1-heading-1">
                <h5>
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-1" aria-expanded="false" aria-controls="accordion-tab-1-content-1">How does Neighborrow work?</button>
                </h5>
                </div>
                <div class="collapse show" id="accordion-tab-1-content-1" aria-labelledby="accordion-tab-1-heading-1" data-parent="#accordion-tab-1">
                    <div class="card-body">
                        <p>First, you will need to create an account. For Lenders, simply snap a picture of your item, write a brief description, set a deposit, and post! For Borrowers, once you have chosen an item to borrow, simply click “Borrow”, choose the time-frame of your borrow, pay the deposit, and pick up the item!</p>
                    </div>
                </div>
                </div>
                <div class="card">
                    <div class="card-header" id="accordion-tab-1-heading-2">
                        <h5>
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-2" aria-expanded="false" aria-controls="accordion-tab-1-content-2">How do I post an Ad?</button>
                        </h5>
                    </div>
                    <div class="collapse" id="accordion-tab-1-content-2" aria-labelledby="accordion-tab-1-heading-2" data-parent="#accordion-tab-1">
                        <div class="card-body">
                            <p>Once you have an account set up with us, simply snap a picture, write a brief description, set a deposit, and post! It’s as simple as that.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="accordion-tab-1-heading-3">
                        <h5>
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-3" aria-expanded="false" aria-controls="accordion-tab-1-content-3">Can I borrow without an account?</button>
                        </h5>
                    </div>
                    <div class="collapse" id="accordion-tab-1-content-3" aria-labelledby="accordion-tab-1-heading-3" data-parent="#accordion-tab-1">
                        <div class="card-body">
                            <p>Unfortunately, no. You must create an account in order to borrow items on Neighborrow. But don't worry, creating an account is super easy! Simply head over to the main page, click on the top right corner, and click the Sign Up button.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="accordion-tab-1-heading-4">
                        <h5>
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-4" aria-expanded="false" aria-controls="accordion-tab-1-content-4">Does it cost anything to borrow?</button>
                        </h5>
                    </div>
                    <div class="collapse" id="accordion-tab-1-content-4" aria-labelledby="accordion-tab-1-heading-4" data-parent="#accordion-tab-1">
                        <div class="card-body">
                            <p>Nope! It is absolutely free of charge (except for the safety deposit, which will be returned to you upon acceptable return of the item to the lender) to borrow items on Neighborrow.</p>
                        </div>
                    </div>
                </div>
                </div>
                </div>
                <div class="tab-pane" id="tab2" role="tabpanel" aria-labelledby="tab2">
                    <div class="accordion" id="accordion-tab-2">
                        <div class="card">
                            <div class="card-header" id="accordion-tab-2-heading-1">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-2-content-1" aria-expanded="false" aria-controls="accordion-tab-2-content-1">How do I receive messages?</button>
                                </h5>
                            </div>
                            <div class="collapse show" id="accordion-tab-2-content-1" aria-labelledby="accordion-tab-2-heading-1" data-parent="#accordion-tab-2">
                                <div class="card-body">
                                    <p>On your Profile page, you will find the Messages section, where all of your conversations with lenders or borrowers will be stored. Simply write the message you wish to send, and hit Send. You can also delete Messages you no longer want by hitting the delete button on each message. </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="accordion-tab-2-heading-2">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-2-content-2" aria-expanded="false" aria-controls="accordion-tab-2-content-2">How can I edit my profile?</button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-2-content-2" aria-labelledby="accordion-tab-2-heading-2" data-parent="#accordion-tab-2">
                                <div class="card-body">
                                    <p>On your Profile page, you will see an edit option. Simply click on it and you will be able to change all of your basic information, payment methods, and privacy settings.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="accordion-tab-2-heading-3">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-2-content-3" aria-expanded="false" aria-controls="accordion-tab-2-content-3">How do I edit my Ad?</button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-2-content-3" aria-labelledby="accordion-tab-2-heading-3" data-parent="#accordion-tab-2">
                                <div class="card-body">
                                    <p>On your Profile page, you will see a list of your active Ads, with an edit option for each one. Simply click on it and you will be redirected to the edit page, where you can edit any part of your Ad. Once finished, hit save, and your edited Ad will become active. </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="accordion-tab-2-heading-4">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-2-content-4" aria-expanded="false" aria-controls="accordion-tab-2-content-4">How do I delete my Ad?</button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-2-content-4" aria-labelledby="accordion-tab-2-heading-4" data-parent="#accordion-tab-2">
                                <div class="card-body">
                                    <p>On your Profile page, you will see a list of your active Ads, with a delete option for each one. Simply click on it, confirm your choice, and your Ad will no longer be active. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab3" role="tabpanel" aria-labelledby="tab3">
                    <div class="accordion" id="accordion-tab-3">
                        <div class="card">
                            <div class="card-header" id="accordion-tab-3-heading-1">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-3-content-1" aria-expanded="false" aria-controls="accordion-tab-3-content-1">How do I create an account?</button>
                                </h5>
                            </div>
                            <div class="collapse show" id="accordion-tab-3-content-1" aria-labelledby="accordion-tab-3-heading-1" data-parent="#accordion-tab-3">
                                <div class="card-body">
                                    <p>Creating an account with us is super easy! Simply head over to the main page, click on the top right corner, and click the Sign Up button.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="accordion-tab-3-heading-2">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-3-content-2" aria-expanded="false" aria-controls="accordion-tab-3-content-2">How can I edit my profile?</button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-3-content-2" aria-labelledby="accordion-tab-3-heading-2" data-parent="#accordion-tab-3">
                                <div class="card-body">
                                    <p>On your Profile page, you will see an edit option. Simply click on it and you will be able to change all of your basic information, payment methods, and privacy settings.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="accordion-tab-3-heading-3">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-3-content-3" aria-expanded="false" aria-controls="accordion-tab-3-content-3">How do I log in?</button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-3-content-3" aria-labelledby="accordion-tab-3-heading-3" data-parent="#accordion-tab-3">
                                <div class="card-body">
                                    <p>Simple click the top right corner, enter your login information,then hit Log in! </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="accordion-tab-3-heading-4">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-3-content-4" aria-expanded="false" aria-controls="accordion-tab-3-content-4">Can I view other user's profiles?</button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-3-content-4" aria-labelledby="accordion-tab-3-heading-4" data-parent="#accordion-tab-3">
                                <div class="card-body">
                                    <p>Yes! If you click on anyone's profile picture, you will be redirected to their profile, where you can view their rating, comments made by borrowers/lenders, and some basic information.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab5" role="tabpanel" aria-labelledby="tab5">
                    <div class="accordion" id="accordion-tab-5">
                        <div class="card">
                            <div class="card-header" id="accordion-tab-5-heading-1">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-5-content-1" aria-expanded="false" aria-controls="accordion-tab-5-content-1">Why am I being charged a deposit?</button>
                                </h5>
                            </div>
                            <div class="collapse show" id="accordion-tab-5-content-1" aria-labelledby="accordion-tab-5-heading-1" data-parent="#accordion-tab-5">
                                <div class="card-body">
                                    <p>A safety or security deposit is required for every item, the amount varies depending on the actual retail value of the item. This is to ensure that the lender has complete peace of mind, knowing that they will be reimbursed if their item is damaged or lost. To all the borrowers, don’t worry! Your deposit will be refunded once you return the item as long as the item is in the original condition (or at least an acceptable condition) from the day you borrowed it. We will not be keeping any deposits!</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="accordion-tab-5-heading-2">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-5-content-2" aria-expanded="false" aria-controls="accordion-tab-5-content-2">Will I get the deposit for my item immediately after lending my item out?</button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-5-content-2" aria-labelledby="accordion-tab-5-heading-2" data-parent="#accordion-tab-5">
                                <div class="card-body">
                                    <p>No, but rest assured! We will be in possession of the deposit and will keep it safe. We will reimburse you immediately if the borrower damages or loses your item, and even if they return it late. If everything goes smoothly, the borrower will get their deposit back. This is to guarantee peace of mind for both the lender and borrower. </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="accordion-tab-5-heading-3">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-5-content-3" aria-expanded="false" aria-controls="accordion-tab-5-content-3">What if I return an item late?</button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-5-content-3" aria-labelledby="accordion-tab-5-heading-3" data-parent="#accordion-tab-5">
                                <div class="card-body">
                                    <p>If you return an item late, and you have not renewed your borrow, you will be charged a portion of the security deposit. This is to ensure that we can keep our service running smoothly and so everyone can have a chance to borrow the item that they want. </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="accordion-tab-5-heading-4">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-5-content-4" aria-expanded="false" aria-controls="accordion-tab-5-content-4">What if the borrower loses or damages my item?</button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-5-content-4" aria-labelledby="accordion-tab-5-heading-4" data-parent="#accordion-tab-5">
                                <div class="card-body">
                                    <p>If the borrower loses your item, you will be reimbursed 100% of the safety/damage deposit that you set when listing the item. If the borrower damages your item, depending on how bad the damage is, you will get either a portion or the full safety/damage deposit that you set when you listed the item.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab6" role="tabpanel" aria-labelledby="tab6">
                    <div class="accordion" id="accordion-tab-6">
                        <div class="card">
                            <div class="card-header" id="accordion-tab-6-heading-1">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-6-content-1" aria-expanded="false" aria-controls="accordion-tab-6-content-1">Will I get my deposit back after I return the item?</button>
                                </h5>
                            </div>
                            <div class="collapse show" id="accordion-tab-6-content-1" aria-labelledby="accordion-tab-6-heading-1" data-parent="#accordion-tab-6">
                                <div class="card-body">
                                    <p>Yes! As long as the item is returned in the original condition (or at least an acceptable condition) from the day you borrowed it, you will receive 100% of your deposit back.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="accordion-tab-6-heading-2">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-6-content-2" aria-expanded="false" aria-controls="accordion-tab-6-content-2">How long can I borrow an item for?</button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-6-content-2" aria-labelledby="accordion-tab-6-heading-2" data-parent="#accordion-tab-6">
                                <div class="card-body">
                                    <p>You can borrow an item for up to 7 days, with the option to renew for another 7 days (as long as nobody reserved the item after you).</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="accordion-tab-6-heading-3">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-6-content-3" aria-expanded="false" aria-controls="accordion-tab-6-content-3">How do I add an Image?</button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-6-content-3" aria-labelledby="accordion-tab-6-heading-3" data-parent="#accordion-tab-6">
                                <div class="card-body">
                                    <p>On the “Post Ad” page, you will have an option to upload pictures of your choice, up to a maximum of 5 per item. The maximum file size allowed per picture is 5MB, and the file extension should be either JPEG, JPG, or PNG.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="accordion-tab-6-heading-4">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-6-content-4" aria-expanded="false" aria-controls="accordion-tab-6-content-4">How long are Ads Active?</button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-6-content-4" aria-labelledby="accordion-tab-6-heading-4" data-parent="#accordion-tab-6">
                                <div class="card-body">
                                    <p>Ads are normally active for 60 days before they expire, in which case you will have to re-post the item.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                </div>
                </div>
                </div>
                
                <div class="block" style="justify-content:center; color:#63666B; text-align: right">
                    <a class="text-muted" href="/contactUs">Didn't find the answer to your question? Click here to Contact Us</a><br>
                </div>
                <div class="invisible">
                    <p><h2> Have a question? </h2></p>
                    <p><h6> Please check out these frequently asked questions</h6></p>
                </div>
                
                </div>
                <script src='https://cdn.3up.dk/jquery@3.3.1/dist/jquery.slim.min.js'></script>
                    <script src='https://cdn.3up.dk/bootstrap@4.1.3/dist/js/bootstrap.min.js'></script>
                    
                    
                    
                    </body>
                    
                    </html>
