<!--
* This modified template file is referenced to startbootstrap,
* along with other third-party stylesheets and javascript files.
* Source Repository: https://startbootstrap.com/snippets/about-team/
-->

<!--
* CoreUI - Free Bootstrap Admin Template
* @version v2.1.7
* @link https://coreui.io
* Copyright (c) 2018 creativeLabs Åukasz Holeczek
* Licensed under MIT (https://coreui.io/license)
-->

<!DOCTYPE html>
<html lang="en">

<head>
<!-- Meta information used for SEO -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<meta name="description" content="Neighborrow - Your Platform to Borrow and Lend">
<meta name="author" content="Neighborrow">
<meta name="keyword" content="Borrow, Lend, CSC444">

<!-- Base stylesheets & third-party stylesheets-->
<link href="/vendors/@coreui/coreui/css/style.css" rel="stylesheet">

<!-- Customized stylesheet goes here-->
</head>


<body class="app header-fixed">
<div class="app-body flex-row align-items-center">
<main class="main">
<!-- Page Content -->
<div class="container">

<!-- Introduction Row -->
<h1 class="text-center text-uppercase font-weight-bold">Our Team</h1>
<h4 class="text-center">It's Nice to Meet You!</h4></br>

<!-- Team Members Row -->
<div class="row">
<div class="col-lg-12">
</div>
<div class="col-lg-4 col-sm-6 text-center mb-4">
<img class="rounded-circle img-fluid d-block mx-auto" height="250px" width="250px" src="../assets/img/teamS.jpg" alt=""></p>
<h4>Michael Stumm</h4><h5>Professor</h5>

</div>
<div class="col-lg-4 col-sm-6 text-center mb-4">
<img class="rounded-circle img-fluid d-block mx-auto" height="250px" width="250px" src="../assets/img/teamZ.jpg" alt=""></p>
<h4>Zi Wang</h4><h5>Lead Developer</h5>
<p>Totally splitted up</p>

</div>
<div class="col-lg-4 col-sm-6 text-center mb-4">
<img class="rounded-circle img-fluid d-block mx-auto" height="250px" width="250px" src="../assets/img/teamF.jpg" alt=""></p>
<h4>Zeyu Feng</h4><h5>Lead Developer</h5>
<p>Quas Wex Exort!</p>

</div>
<div class="col-lg-4 col-sm-6 text-center mb-4">
<img class="rounded-circle img-fluid d-block mx-auto" height="250px" width="250px" src="../assets/img/teamQ.jpg" alt=""></p>
<h4>Qingqing Zhuo</h4><h5>Lead Developer</h5>
<p>~</p>
</div>
<div class="col-lg-4 col-sm-6 text-center mb-4">
<img class="rounded-circle img-fluid height:30% d-block mx-auto" height="250px" width="250px" src="../assets/img/teamG.jpg" alt=""></p>
<h4>Geling Li</h4><h5>Lead Developer</h5>
<p>I love programming</p>
</div>
<div class="col-lg-4 col-sm-6 text-center mb-4">
<img class="rounded-circle img-fluid d-block mx-auto" height="250px" width="250px" src="../assets/img/teamR.jpg" alt=""></p>
<h4>Shuer Li</h4><h5>Lead Developer</h5>
<p>This person is lazy and didn't leave anything</p>
</div>
</div>

</div>
<!-- /.container -->
</main>
</div>
</body>
