<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=5,IE=9" ><![endif]-->
<!DOCTYPE html>
<html>
<head>
<!-- Meta information used for SEO -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<meta name="description" content="Neighborrow - Your Platform to Borrow and Lend">
	<meta name="author" content="Neighborrow">
	<meta name="keyword" content="Borrow, Lend, CSC444">
	<%= csrf_meta_tags %>
	<%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<title>Neighborrow - Blank</title>

	<!-- CSS files for third-party icons-->
	<link href="/vendors/@coreui/icons/css/coreui-icons.min.css" rel="stylesheet">
	<link href="/vendors/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
	<link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="/vendors/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

	<!-- Base stylesheets & third-party stylesheets-->
	<link href="/vendors/@coreui/coreui/css/style.css" rel="stylesheet">
	<link href="/vendors/pace-progress/css/pace.min.css" rel="stylesheet">

	<!-- Customized stylesheet goes here-->
<title>Untitled Diagram</title>
<meta charset="utf-8"/>
<style>

h1 {
  font-weight: normal;
  line-height: 1.1;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  color: grey; 
  text-align: center; 

}

</style>
</head>

<body>
<div class="row">
<div class="col-lg-3"></div>
<div class="col-lg-6 text-center"  style="padding-top:30px">
<h1>User Flow</h1>
<hr>
<div class="mxgraph" style="max-width:100%;border:1px solid transparent;" data-mxgraph="{&quot;highlight&quot;:&quot;#0000ff&quot;,&quot;nav&quot;:true,&quot;resize&quot;:true,&quot;toolbar&quot;:&quot;zoom layers lightbox&quot;,&quot;edit&quot;:&quot;_blank&quot;,&quot;xml&quot;:&quot;&lt;mxfile modified=\&quot;2018-12-04T07:09:27.603Z\&quot; host=\&quot;www.draw.io\&quot; agent=\&quot;Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/70.0.3538.110 Safari/537.36\&quot; etag=\&quot;WMxWLS-n-eohfEXBmlwQ\&quot; version=\&quot;9.5.5\&quot; type=\&quot;google\&quot;&gt;&lt;diagram id=\&quot;piAOmilpaRGJPzsEZwOz\&quot; name=\&quot;Page-1\&quot;&gt;5V1bU9s4FP41mX0qY/kS248QoNtZlnaATpdHYYvExbFSR+Gyv34lW/JNBtQNtgR+YRL5ppzzndunIzNzFuvHzzncrP7GMUpnthU/zpzjmW2Htkf/soGncsD17XJgmSdxOQTqgcvkX8QHLT66S2K0bZ1IME5JsmkPRjjLUERaYzDP8UP7tFuctp+6gUskDVxGMJVHfyQxWZWjgWfV43+iZLkST/YtfmQNxcl8YLuCMX5oDDknM2eRY0zKT+vHBUqZ7IRcyutOnzlaTSxHGVG54K/g+uLXXXRx//kGw92PxfXj1fdPgN9mS57EL0YxFQD/inOywkucwfSkHj3K8S6LEbutRb+tyDqlHwH9iB4T8g8bPvD4t2txJCP5U+MQ+3rNb/ATEfLENQ93BNOh+rlnGG/4PcqZsuk9KwHxa/Auj9ALP5tjkMB8icgL5zmVnii+EV4jOm16XY5SSJL79jwgR9qyOq9WBv3A9fEbuuGTvIfpjj/pHD3Qge9blM/seUonfnTDPi1JJZ2GHmstMeE9rBKCLjewEMsDNdW25vijUE7Q48vSlaXBL3Bcburc0ucc9w+12QBhC6uGyYjz3lx+wJ4kth1FbLs6se1I2L5Ay2RLGLINwzHwdAN5Pkkcu4o49nTi2JVwfLKGCbtsgbPbJKdZQIIz2VtfMnGwVKby5xa/0Hi/bru67QH4kzQIT9EgwFxr1jKMt2qoxjqwvaZ2QEs35UGD1RPo1I7XE3cjRB8bVx7IOTXO5TiObpdju0OgGrRQ7bdQbbVR7WtCdfAeonDQg+pfO7RlIfacweMGMypABNwcfdqijCGerFDJHTRCtYXKQKzZBoBvnA0E44RdDSjfO2TyS7/hpMjruA5dq61DD3R0U5oVv6qjnmoaeyRKc8kwFmkS3dGhAukl/NuZqnWWZHfa0d+NAK7gEfUlnbKTuUZbSVD0J5O2NLYkx3dogVOc05EMZ8wsbpM07QzBNFlm9GtERUQLAueICTCJYHrID6yTOC5sqk/8bTt7Aw10setasv9xexRgD+Z+fEkB5/jjyt/pyN+xNcvfGcn9G1Z12aFiBuTYOlMgMc2GdXBe4TCiT4eEZfiGOfUqHGpz6k44CKZbab1nHqZLqKpg2teJaeHehiy63rV2tC5PiWk2k0u83qSIsKSSOZ8/aHpkfcsxDbZs6Et2i6s00zBXNO/JbkYm+ae5EusoL1fpXa+SF6yOCk7BgAUrt4vlUDuWB3Hc5mPZV8XyMwodCctyIXWGqOj1I9n2TEOy70wSya5otXoNyb7WokdMs5mC5AgWCQicMe6Xcb5fCFobB20/0A3t+UShrZxwaF1GdeWEQ/QGxMl9S23zXzvWQ3jEqK9PnMU6pGek6JbUR+t+gvIu2w3MxNhpUqyGsAFuLeU5dObN0xrDxRwMaVDo5j+Br9207GmalmrLjqu1cHXlpp3fNS3OESsZ1xUVNa2H2R8anOKEFMikwKS1MXzawPR9W5sBgWyQtXnzrW2uaG2eVmubD7NsIJF42jTw9qvGHQsLw47lDLxqPB+EFH+Jdm1Zk15tqtiTtafa94te8pr+cIlh3UZTNM4c8Taa9xyvQv37EhxvZAMDRhiY6KN/vYEV7NsjWVx6mOfwqXHChjnM7fN+t8pkOn73VPF84PlWBxzlFN7UOwsp9ja7LWAW0XsYsNY7d0wzO8+WBCdoT+sC/UQRw4ZVybIjvw/TV+IFHcX0bG8Zta9kPog3ND5991R5KE/rwpcn81DHKN5FzNscow3eFvXsbY7Xzfo2ueWmlOQG+KJuCgAs/Vu6prmny1Pe1KW1nxw4g6jH+M4TZfUASyun4MkMHt/GMjNkuUdyOUD7rrn5NHfNAeUGTi/U63MG0Y/xtIunvK1Rs8/p2zpHdnlmrMuxte8YArY9js9Rxe1LvuktMa3qct6I6ZApZNDBgtst3wbmkIUEGtbyLcf3Scwi9ClC8Q0stiEVtKIh3UeSAVVC09d+JDe4VJzFYRShzUQ4iy6crZ7tYOGYpEUw0qqWYRSueHnX65vctZIWNPSZFXe0qEBrOium2Vuisd48sZb0rPfS3aGnn7EGYPTtSUZ4mUCZhtg7fdovCPTREOYtxfim4TroK6XYAswUchnbel0do66/hMPwQpKTMaxGC1RrtNDe08f0l2hdHADgj1uiAbHlbWKEoLritfb5BHIFfVa+tObrjpjCOXVzJgNo7nCY1N/0ykxUv8O7s/1SWmua21zV1aN1a6CYZsPpfEa1t7GOCtbONKdjANHtTLMHPVTdJ6i5UhPzVKKjjdnYLQFdPyENLHtsoJsRXlVZN83++yXWrXzbW9W0ZRYrAWglfBBalmW7Lk0i59rf9xbK5A4PgsdwDZc9vM6HpSiA3eN3xuUoZMaIK2OBszjhby68JElxqx/FHT+qdjzxPzuEdpyed9cEo2pHfjUi1845Ljk91ifxkS2m+7LW3jp4VIsBo7+uz4w6mHcJmd/uZcmN1aW10IKLJNmyqrYMi9vdjR3GBW4AZMlOJXJ7gWNY5Abg2dA9leDghcYFh56XGZ8U3DJmGze+ZszhXOUw28Ko93V99BnJZvucBN/4VX3dKthTpXuCweTX87bVkiert8QYQZVJLW2Oac5a6HJixJl617O9b5rSv/zoWd6B5wPXDsq/YndAFTiC8CCoT3Da9y9/n7Q0+dtPccFLT/nfC6D0a/1/FcvT639O6Zz8Bw==&lt;/diagram&gt;&lt;/mxfile&gt;&quot;}"></div>
</div>
<div class="col-lg-3"></div>
</div>
<script type="text/javascript" src="https://www.draw.io/js/viewer.min.js"></script>
</body>
</html>