<!-- 
	* This modified template file is referenced to coreui.io, 
	* along with other third-party stylesheets and javascript files.
	* Source Repository: https://github.com/coreui/coreui-free-bootstrap-admin-template
-->

<!--
* CoreUI - Free Bootstrap Admin Template
* @version v2.1.7
* @link https://coreui.io
* Copyright (c) 2018 creativeLabs Åukasz Holeczek
* Licensed under MIT (https://coreui.io/license)
-->

<!DOCTYPE html>
<html lang="en">

<head>
	<%= javascript_tag "window._token = '#{form_authenticity_token}'" %> <%=
	javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	
	<!-- Meta information used for SEO -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<meta name="description" content="Neighborrow - Your Platform to Borrow and Lend">
	<meta name="author" content="Neighborrow">
	<meta name="keyword" content="Borrow, Lend, CSC444">
	<title>Neighborrow - Blank</title>
	
	<!-- CSS files for third-party icons-->
	<link href="/vendors/@coreui/icons/css/coreui-icons.min.css" rel="stylesheet">
	<link href="/vendors/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
	<link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="/vendors/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
	
	<!-- Base stylesheets & third-party stylesheets-->
	<link href="/vendors/@coreui/coreui/css/style.css" rel="stylesheet">
	<link href="/vendors/pace-progress/css/pace.min.css" rel="stylesheet">
	<link href="/assets/css/roboto.css" rel="stylesheet" type="text/css" />
	<link href="/assets/css/dropzone.css" rel="stylesheet" type="text/css" />
	<!-- Calendar related -->
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

	<!-- Customized stylesheet goes here-->
	<link href="/assets/css/user_items.css?version=1" rel="stylesheet">
	
</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-md-show">
	<header class="app-header navbar" style="width:100%" id="headerModule">
		
	</header>
	<div class="app-body">
		<div class="sidebar" id="menuModule"></div>

		<main class="main">
			<span id="subHeaderModule"></span>
			
			<div class="container-fluid">
				<!-- Main section - Codes for main functionalities in this block -->
			
				<h2>Item Details</h2>
				<hr>
				<div class="row">
					<div class="col-lg-12">
						<div class="card">
							<div class="card-header">
								<strong class="text-muted"> Item </strong>
								<a class="pull-right" id='item-status'></a>
							</div>
							<div class="card-body">
								<div class="form-horizontal">
									<div class="form-group">
										<label> Item Image</label>
										<br>
										<div class="row" style="padding-left:30px;">
											
										
											<div class = "img-wrap" id='existing-img'>
													<span class="close" onclick="btnImageDelete()" >&times;</span>
													<h2><img class="img-thumbnail" id="item-img" width="180vw" height="180vh"></h2>
											</div>

											<form action="/media_contents" id="media-dropzone" class="dropzone" enctype="multipart/form-data" style="visibility:hidden;">
												<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
												<div class="fallback">
												  <input name="media" type="file" multiple />
												</div>
											  </form>
										</div>
									</div>
									<div class="row">
										<div class="form-group col-lg-6">
											<label> Item name </label>
											<input class="form-control" id='item-name-input' type="text">
										</div>
										<div class="form-group col-lg-6">
											<label> Brand </label>
											<input class="form-control" id='brand-input' type="text">
										</div>
									</div>
									<div class="row">
										<div class="form-group col-lg-6">
											<label> Condition </label>
											<select class="form-control" id='condition-input'>
												<option value="Brand New"> brand new </option>
												<option value="Like New"> like new </option>
												<option value="Very Good"> very good </option>
												<option value="Good"> good </option>
												<option value="Adequate"> adequate </option>
												<option value="Defective"> defective </option>
											</select>
										</div>
										<div class="form-group col-lg-6">
											<label> Available Dates </label>
											<input class="form-control" type="text" name="daterange" id="date-input"/>
										</div>
									</div>
									
									<div class="row">
										<div class="form-group col-lg-6">
												<label> Department </label>
												<select class="form-control" id='department-input'>
												</select>
										</div>
										<div class="form-group col-lg-6">
												<label> Category </label>
												<select class="form-control" id='category-input'>
												</select>
										</div>
									</div>


									<div class="row">
									<div class="form-group col-lg-4">
										<label> Pickup Address </label>
										<input class="form-control" id='street-input' type="text">
									</div>
									<div class="form-group col-lg-2">
										<label> City </label>
										<input class="form-control" id='city-input' type="text">
									</div>
									<div class="form-group col-lg-2">
										<label> Province </label>
										<input class="form-control" id='province-input' type="text">
									</div>
									<div class="form-group col-lg-2">
										<label> Country </label>
										<input class="form-control" id='country-input' type="text">
									</div>
									<div class="form-group col-lg-2">
										<label> Postal Code </label>
										<input class="form-control" id='postalcode-input' type="text">
									</div>
									</div>

									<div class="form-group">
										<label> Description </label>
										<textarea class="form-control" id='description-input' placeholder="Add a short description about this item..."></textarea>
									</div>
								</div>
							

								<div class="row">
										<div class="form-group col-lg-3">
												<label> Required minimum borrower deposit </label>
											<div class="input-group">
												<div class="input-group-prepend">
												<span class="input-group-text">$</span>
												</div>
												<input id="deposit-input" type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
												<div class="input-group-append">
												<span class="input-group-text">.00</span>
												</div>
											</div>
										</div>
										<div class="form-group col-lg-3">
												<label> Required minimum borrower rate level </label>
												<select class="form-control" id='rate-input'>
														<option value="1"> 1 </option>
														<option value="2"> 2 </option>
														<option value="3"> 3 </option>
														<option value="4"> 4 </option>
														<option value="5"> 5 </option>
													</select>
											</div>
								
								</div>
									



								<div class="pull-right">
									<button class="btn btn-success" id='btn-save' onclick="btnSave()">
										<a style="color:white"> Save </a>	
									</button>
									<button class="btn btn-outline-secondary" onclick="btnBack()">
											<a> Back </a>	
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
		</main>
	</div>
	<footer class="app-footer" id="footerModule"></footer>


	<!-- CoreUI and other third-party plugins (js files) -->
	<script src="/vendors/jquery/js/jquery.min.js"></script>
	<script src="/vendors/popper.js/js/popper.min.js"></script>
	<script src="/vendors/bootstrap/js/bootstrap.min.js"></script>
	<script src="/vendors/pace-progress/js/pace.min.js"></script>
	<script src="/vendors/perfect-scrollbar/js/perfect-scrollbar.min.js"></script>
	<script src="/vendors/@coreui/coreui/js/coreui.min.js"></script>

	<script src="https://code.jquery.com/jquery-1.6.4.min.js"></script>
	
	<!-- Calendar related -->
	<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

	<!-- Customized Javascript file goes here -->
	<script src="/assets/js/dashboard-init.js?version=1"></script>
	<script src="/assets/js/user_item_edit.js?version=1"></script>
	<script src="/assets/js/dropzone.js?version=1"></script>
	
	<script>
		$(function() {
			$('input[name="daterange"]').daterangepicker({
			opens: 'left'
			}, function(start, end, label) {
			console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
			});
		});
	</script>
</body>
</html>
