<!-- 
	* This modified template file is referenced to coreui.io, 
	* along with other third-party stylesheets and javascript files.
	* Source Repository: https://github.com/coreui/coreui-free-bootstrap-admin-template
-->

<!--
* CoreUI - Free Bootstrap Admin Template
* @version v2.1.7
* @link https://coreui.io
* Copyright (c) 2018 creativeLabs Åukasz Holeczek
* Licensed under MIT (https://coreui.io/license)
-->

<!DOCTYPE html>
<html lang="en">

<head>
	<%= javascript_tag "window._token = '#{form_authenticity_token}'" %> <%=
	javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	
	<!-- Meta information used for SEO -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<meta name="description" content="Neighborrow - Your Platform to Borrow and Lend">
	<meta name="author" content="Neighborrow">
	<meta name="keyword" content="Borrow, Lend, CSC444">
	<title>Neighborrow - Blank</title>
	
	<!-- CSS files for third-party icons-->
	<link href="/vendors/@coreui/icons/css/coreui-icons.min.css" rel="stylesheet">
	<link href="/vendors/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
	<link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="/vendors/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
	
	<!-- Base stylesheets & third-party stylesheets-->
	<link href="/vendors/@coreui/coreui/css/style.css" rel="stylesheet">
	<link href="/vendors/pace-progress/css/pace.min.css" rel="stylesheet">
	<link href="/assets/css/roboto.css" rel="stylesheet" type="text/css" />
	<link href="/assets/css/dropzone.css" rel="stylesheet" type="text/css" />
	
	<!-- Calendar related -->
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

	<!-- Customized stylesheet goes here-->
	<link href="/assets/css/user_items.css" rel="stylesheet">
	
</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-md-show">
	<header class="app-header navbar" style="width:100%" id="headerModule">
		
	</header>
	<div class="app-body">
		<div class="sidebar" id="menuModule"></div>

		<main class="main">
			<span id="subHeaderModule"></span>
			
			<div class="container-fluid">
				<!-- Main section - Codes for main functionalities in this block -->
				<h2>Add Item</h2>
				<hr>
				<div class="row">
					<div class="col-lg-12">
						<div class="card">
							<div class="card-header">
								<strong class="text-muted"> Register Your Item </strong>
								<a class="pull-right" id='item-status'></a>
							</div>
							<div class="card-body">
								<div class="form-horizontal">
									<div class="form-group">
										<label> Item Image</label>
										<br>
										<div class = "img-wrap" id='existing-img'>
												<span class="close" onclick="btnImageDelete()" >&times;</span>
												<h2><img class="img-thumbnail" id="item-img" width="180vw" height="180vh"></h2>
										</div>
									</div>
									<div class="row">
										<div class="form-group col-lg-6">
											<label> Item name </label>
											<input class="form-control" id='item-name-input' type="text">
										</div>
										<div class="form-group col-lg-6">
											<label> Brand </label>
											<input class="form-control" id='brand-input' type="text">
										</div>
									</div>
									<div class="row">
										<div class="form-group col-lg-6">
											<label> Condition </label>
											<select class="form-control" id='condition-input'>
												<option value="Brand New"> brand new </option>
												<option value="Like New"> like new </option>
												<option value="Very Good"> very good </option>
												<option value="Good"> good </option>
												<option value="Adequate"> adequate </option>
												<option value="Defective"> defective </option>
											</select>
										</div>
										<div class="form-group col-lg-6">
											<label> Available Dates </label>
											<input class="form-control" type="text" name="daterange" id="date-input"/>
										</div>
									</div>
									
									<div class="row">
										<div class="form-group col-lg-6">
												<label> Department </label>
												<select class="form-control" id='department-input'>
												</select>
										</div>
										<div class="form-group col-lg-6">
												<label> Category </label>
												<select class="form-control" id='category-input'>
												</select>
										</div>
									</div>

									<div class="form-group">
										<label> Description </label>
										<input class="form-control" id='description-input' placeholder="Add a short description about this item..." type="textarea">
									</div>
								</div>
								<div class="pull-right">
									<button class="btn btn-success" id='btn-save' onclick="btnSave()">
										<a style="color:white"> Save </a>	
									</button>
									<button class="btn btn-outline-secondary" id='btn-exit' onclick="btnBack()">
											<a> Back </a>	
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!--
				<div class="row">
					<div class="col-3" style="text-align:right; background:white;font-size:18px; padding-top:30px;">Upload image</div>
					<div class="col-3" style="background:white;padding-right:100px; padding-top:30px;">		
						<form action="/media_contents" id="media-dropzone" class="dropzone" enctype="multipart/form-data">
							<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
							<div class="fallback">
								<input name="media" type="file" multiple />
							</div>
						</form>
					</div>
				</div>

				<div class="row">
					<div class="col-3" style="text-align:right; background:white;font-size:18px; padding-top:30px;" id='item-name'>Item name</div>
					<div class="col-9" style="background:white;padding-right:100px; padding-top:30px;"><input type="text" id='item-name-input'></div>
				</div>
				<div class="row">
					<div class="col-3" style="text-align:right; background:white;font-size:18px; padding-top:30px;" >Brand</div>
					<div class="col-9" style="background:white;padding-right:100px; padding-top:30px;"><input type="text" id='brand-input'></div>
				</div>
				<div class="row">
					<div class="col-3" style="text-align:right; background:white;font-size:18px; padding-top:30px;" id='item-condition'>Condition</div>
					<div class="col-9" style="font-size:18px; background:white;padding-right:100px; padding-top:30px;">
							<form>
								<input type="radio" name="condition" value="Brand New">brand new<br>
								<input type="radio" name="condition" value="Like New">like new<br>
								<input type="radio" name="condition" value="Very Good">very good<br>
								<input type="radio" name="condition" value="Good">good<br>
								<input type="radio" name="condition" value="Adequate">adequate<br>
								<input type="radio" name="condition" value="Defective">defective
							</form>
					</div>
				</div>
				<div class="row" >
					<div class="col-3" style="text-align:right; background:white;font-size:18px; padding-top:30px;" id='date-start'>Available dates</div>
					<div class="col-9" style="background:white;padding-right:100px; padding-top:30px;">
							<input type="text" name="daterange" style="font-size:15px" id='date-input'/>
					</div>
				</div>
				<div class="row">
					<div class="col-3" style="text-align:right; background:white;font-size:18px; padding-top:30px;" >Description</div>
					<div class="col-9" style="background:white;padding-right:100px; padding-top:30px;">
						<textarea rows="8" cols="75" placeholder="Add a short description about this item..." style="font-size:15px;" id='description-input'></textarea></div>
				</div>
			

				<div class="row">
					<div class="col-3" style="text-align:right; background:white;font-size:18px; padding-top:30px;" id='item-department'>Department</div>
					<div class="col-9" style="background:white;padding-right:100px; padding-top:30px;">
						<select class="selectpicker" id='department-input'>
						  </select>
						  
					</div>
				</div>
				<div class="row">
					<div class="col-3" style="text-align:right; background:white;font-size:18px; padding-top:30px;" id='item-category'>Category</div>
					<div class="col-9" style="background:white;padding-right:100px; padding-top:30px;">
						<select class="selectpicker" id='category-input'>
						</select>
					</div>
				</div>

				<br><br>
				<div class="row">
				<div class="col-4" style="text-align:right;"><input type="submit" value="Add item" id='submit-button' onclick='btnSubmit()'>
				</div>
				<div class="col-1" style="text-align:left;"><input type="submit" value="Return to item page" onclick="btnExit()">
				</div>
			 	</div>

				 <br><br>
			</div>
		-->
		</main>
	</div>
	<footer class="app-footer" id="footerModule"></footer>


	<!-- CoreUI and other third-party plugins (js files) -->
	<script src="/vendors/jquery/js/jquery.min.js"></script>
	<script src="/vendors/popper.js/js/popper.min.js"></script>
	<script src="/vendors/bootstrap/js/bootstrap.min.js"></script>
	<script src="/vendors/pace-progress/js/pace.min.js"></script>
	<script src="/vendors/perfect-scrollbar/js/perfect-scrollbar.min.js"></script>
	<script src="/vendors/@coreui/coreui/js/coreui.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js">
	
	<!-- Calendar related -->
	<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

	<!-- Customized Javascript file goes here -->
	<script src="/assets/js/dashboard-init.js"></script>
	<script src="/assets/js/user_items_new.js?version=1"></script>
	<script src="/assets/js/dropzone.js?version=1"></script>

	
	<script>
		$(function() {
			$('input[name="daterange"]').daterangepicker({
			opens: 'left'
			}, function(start, end, label) {
			console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
			});
		});
	</script>
</body>
</html>
