<title>Website Template Preview</title>

<!-- Mobile Specific -->

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

<meta name="description" content="" >

<meta name="keywords" content="" >

<!-- CSS Style -->

<link rel="stylesheet" href="https://colorlib.com/wp-content/plugins/fbar/css/frame.css">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-23581568-13');
</script>

<!-- Favicons -->

<link rel="shortcut icon" href="https://colorlib.com/wp-content/uploads/2017/11/11">

<!-- JavaScript -->

<script type="text/javascript" src="https://colorlib.com/wp-content/plugins/fbar/js/jquery-1.9.1.min.js"></script>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.js"></script>

<script src="https://colorlib.com/wp-content/plugins/fbar/js/custom.js"></script>

</head>

<body>

<div id="switcher"  style="background-color: #000000" >

<div class="center">


<ul>

<li id="theme_list"><a id="theme_select" href="#">

Coloshop
</a>

<ul id="test1a">

<li><a href="https://colorlib.com/demo?theme=Celt" >Celt <span style="background-color: #800080">HTML</span></a><img alt="" class="preview" src="https://colorlib.com/wp-content/uploads/2017/11/celt-free-construction-company-website-template-1.jpg" /></li><li><a href="https://colorlib.com/demo?theme=TOPBuilder" >TOPBuilder <span style="background-color: #800080">HTML</span></a><img alt="" class="preview" src="https://colorlib.com/wp-content/uploads/2017/11/topbuilder-construction-company-website-template-pr.jpg" /></li><li><a href="https://colorlib.com/demo?theme=bobsled" >Bobsled <span style="background-color: #800080">HTML</span></a><img alt="" class="preview" src="https://colorlib.com/wp-content/uploads/2017/11/bobsled-creative-website-template-pr.jpg" /></li><li><a href="https://colorlib.com/demo?theme=bona" >Bona <span style="background-color: #800080">HTML</span></a><img alt="" class="preview" src="https://colorlib.com/wp-content/uploads/2017/11/bona-food-blog-website-template-pr.jpg" /></li><li><a href="https://colorlib.com/demo?theme=labs" >Labs <span style="background-color: #800080">HTML</span></a><img alt="" class="preview" src="https://colorlib.com/wp-content/uploads/2017/11/labs-digital-agency-website-template-pr.jpg" /></li><li><a href="https://colorlib.com/demo?theme=ca-app" >Ca-app <span style="background-color: #800080">HTML</span></a><img alt="" class="preview" src="https://colorlib.com/wp-content/uploads/2017/11/ca-app-showcase-website-template-pr.jpg" /></li><li><a href="https://colorlib.com/demo?theme=datarc" >Datarc <span style="background-color: #800080">HTML</span></a><img alt="" class="preview" src="https://colorlib.com/wp-content/uploads/2017/11/datarc-digital-agency-free-website-template-pr.jpg" /></li><li><a href="https://colorlib.com/demo?theme=dinomuz" >Dinomuz <span style="background-color: #800080">HTML</span></a><img alt="" class="preview" src="https://colorlib.com/wp-content/uploads/2017/11/dinomuz-free-creative-website-template-pr.jpg" /></li><li><a href="https://colorlib.com/demo?theme=go-crepe" >Go-crepe <span style="background-color: #800080">HTML</span></a><img alt="" class="preview" src="https://colorlib.com/wp-content/uploads/2017/11/go-crepe-creative-digital-agency-website-template-pr.jpg" /></li><li><a href="https://colorlib.com/demo?theme=ilene-berg" >Ilene-berg <span style="background-color: #800080">HTML</span></a><img alt="" class="preview" src="https://colorlib.com/wp-content/uploads/2017/11/fullscreen-ilene-berg-free-website-template-pr.jpg" /></li><li><a href="https://colorlib.com/demo?theme=MobApp" >MobApp <span style="background-color: #800080">HTML</span></a><img alt="" class="preview" src="https://colorlib.com/wp-content/uploads/2017/11/MobApp-free-one-mobile-app-landing-page-pe.jpg" /></li><li><a href="https://colorlib.com/demo?theme=five-star" >Five-star <span style="background-color: #800080">HTML</span></a><img alt="" class="preview" src="https://colorlib.com/wp-content/uploads/2017/11/five-star-art-crafting-website-template-pr.jpg" /></li><li><a href="https://colorlib.com/demo?theme=creative-agency" >Creative-agency <span style="background-color: #800080">HTML</span></a><img alt="" class="preview" src="https://colorlib.com/wp-content/uploads/2017/11/creative-agency-website-template-pr.jpg" /></li><li><a href="https://colorlib.com/demo?theme=boxus" >Boxus <span style="background-color: #800080">HTML</span></a><img alt="" class="preview" src="https://colorlib.com/wp-content/uploads/2017/11/boxus-creative-digital-agency-free-website-template-pr.jpg" /></li><li><a href="https://colorlib.com/demo?theme=katt" >Katt <span style="background-color: #800080">HTML</span></a><img alt="" class="preview" src="https://colorlib.com/wp-content/uploads/2017/11/katt-free-creative-blog-website-template-pr.jpg" /></li><li><a href="https://colorlib.com/demo?theme=suppablog" >Suppablog <span style="background-color: #800080">HTML</span></a><img alt="" class="preview" src="https://colorlib.com/wp-content/uploads/2017/11/suppablog-free-creative-blog-template-for-writters-pr.jpg" /></li><li><a href="https://colorlib.com/demo?theme=pato" >Pato <span style="background-color: #800080">HTML</span></a><img alt="" class="preview" src="https://colorlib.com/wp-content/uploads/2017/11/pato-free-modern-restuarant-website-template-pr.jpg" /></li><li><a href="https://colorlib.com/demo?theme=yummy" >Yummy <span style="background-color: #800080">HTML</span></a><img alt="" class="preview" src="https://colorlib.com/wp-content/uploads/2017/11/yummy-minimal-food-blog-website-template-pr.jpg" /></li><li><a href="https://colorlib.com/demo?theme=bbs" >Bbs <span style="background-color: #800080">HTML</span></a><img alt="" class="preview" src="https://colorlib.com/wp-content/uploads/2017/11/bbs-free-small-company-website-template-pr.jpg" /></li><li><a href="https://colorlib.com/demo?theme=dup" >Dup <span style="background-color: #800080">HTML</span></a><img alt="" class="preview" src="https://colorlib.com/wp-content/uploads/2017/11/dup-free-creative-agency-website-template-pr.jpg" /></li><li><a href="https://colorlib.com/demo?theme=glint" >Glint <span style="background-color: #800080">HTML</span></a><img alt="" class="preview" src="https://colorlib.com/wp-content/uploads/2017/11/glint-free-fullscreen-small-business-template-pr.jpg" /></li><li><a href="https://colorlib.com/demo?theme=inmotion" >Inmotion <span style="background-color: #800080">HTML</span></a><img alt="" class="preview" src="https://colorlib.com/wp-content/uploads/2017/12/inmotion-free-green-eco-website-template-pr.jpg" /></li><li><a href="https://colorlib.com/demo?theme=maze" >Maze <span style="background-color: #800080">HTML</span></a><img alt="" class="preview" src="https://colorlib.com/wp-content/uploads/2017/12/maze-bright-free-personal-website-template-pr.jpg" /></li><li><a href="https://colorlib.com/demo?theme=ozberk" >Ozberk <span style="background-color: #800080">HTML</span></a><img alt="" class="preview" src="https://colorlib.com/wp-content/uploads/2017/12/ozberk-free-fullscreen-business-website-template-pr-1.jpg" /></li><li><a href="https://colorlib.com/demo?theme=coloshop" >Coloshop <span style="background-color: #800080">HTML</span></a><img alt="" class="preview" src="https://colorlib.com/wp-content/uploads/2017/12/coloshop-free-bootstrap-ecommerce-website-template-cr-1.jpg" /></li><li><a href="https://colorlib.com/demo?theme=typo" >Typo <span style="background-color: #800080">HTML</span></a><img alt="" class="preview" src="https://colorlib.com/wp-content/uploads/2017/12/typo-bright-free-app-landing-page-template-pr.jpg" /></li><li><a href="https://colorlib.com/demo?theme=bizpro" >Bizpro <span style="background-color: #800080">HTML</span></a><img alt="" class="preview" src="https://colorlib.com/wp-content/uploads/2017/12/bizpro-free-classic-website-template-pr.jpg" /></li><li><a href="https://colorlib.com/demo?theme=colid" >Colid <span style="background-color: #800080">HTML</span></a><img alt="" class="preview" src="https://colorlib.com/wp-content/uploads/2017/12/colid-free-app-landing-page-website-template-pr.jpg" /></li><li><a href="https://colorlib.com/demo?theme=fashe" >Fashe <span style="background-color: #800080">HTML</span></a><img alt="" class="preview" src="https://colorlib.com/wp-content/uploads/2017/12/fashe-free-ecommerce-website-template-pr.jpg" /></li><li><a href="https://colorlib.com/demo?theme=susan" >Susan <span style="background-color: #800080">HTML</span></a><img alt="" class="preview" src="https://colorlib.com/wp-content/uploads/2017/12/susan-free-app-showcase-website-template-pr.jpg" /></li><li><a href="https://colorlib.com/demo?theme=yaseen" >Yaseen <span style="background-color: #800080">HTML / Landing Page</span></a><img alt="" class="preview" src="https://colorlib.com/wp-content/uploads/2017/12/yaseen-creative-photography-website-landing-page-template-pr.jpg" /></li><li><a href="https://colorlib.com/demo?theme=edusite" >Edusite <span style="background-color: #3366ff">Education</span></a><img alt="" class="preview" src="https://colorlib.com/wp-content/uploads/2017/12/edusite-free-online-courses-website-template-pr.jpg" /></li><li><a href="https://colorlib.com/demo?theme=juli" >Juli <span style="background-color: #ffff00">Blog</span></a><img alt="" class="preview" src="https://colorlib.com/wp-content/uploads/2017/12/juli-free-lifestyle-blog-website-template-pr.jpg" /></li><li><a href="https://colorlib.com/demo?theme=listing" >Listing <span style="background-color: #ff00ff">Directory</span></a><img alt="" class="preview" src="https://colorlib.com/wp-content/uploads/2017/12/listing-free-directory-website-template-pr.jpg" /></li><li><a href="https://colorlib.com/demo?theme=risotto" >Risotto <span style="background-color: #333399">Restaurant</span></a><img alt="" class="preview" src="https://colorlib.com/wp-content/uploads/2017/12/risotto-free-restaurant-website-template-pr.jpg" /></li><li><a href="https://colorlib.com/demo?theme=droppler" >Droppler <span style="background-color: #ffff00">Blog</span></a><img alt="" class="preview" src="https://colorlib.com/wp-content/uploads/2017/12/droppler-photography-blog-website-template-pr.jpg" /></li><li><a href="https://colorlib.com/demo?theme=fancy" >Fancy <span style="background-color: #99ccff">Business</span></a><img alt="" class="preview" src="https://colorlib.com/wp-content/uploads/2017/12/fancy-free-creative-business-website-template-pr.jpg" /></li><li><a href="https://colorlib.com/demo?theme=Simples" >Simples <span style="background-color: #99ccff">Business</span></a><img alt="" class="preview" src="https://colorlib.com/wp-content/uploads/2018/01/simples-free-fullscreen-feminine-website-template-pr.jpg" /></li><li><a href="https://colorlib.com/demo?theme=cellon" >Cellon <span style="background-color: #99ccff">Business</span></a><img alt="" class="preview" src="https://colorlib.com/wp-content/uploads/2018/01/cellon-free-ligh-consulting-company-template-pr.jpg" /></li><li><a href="https://colorlib.com/demo?theme=pemodule" >Pemodule <span style="background-color: #333399">Photography</span></a><img alt="" class="preview" src="https://colorlib.com/wp-content/uploads/2018/01/pemodule-free-photographer-website-template-pr.jpg" /></li><li><a href="https://colorlib.com/demo?theme=blueline" >Blueline <span style="background-color: #99ccff">Business</span></a><img alt="" class="preview" src="https://colorlib.com/wp-content/uploads/2018/01/blueline-free-fullscreen-business-website-template-pr.jpg" /></li><li><a href="https://colorlib.com/demo?theme=layal" >Layal <span style="background-color: #ff00ff">Interior Design</span></a><img alt="" class="preview" src="https://colorlib.com/wp-content/uploads/2018/01/layal-free-interior-design-wwebsite-template-pr.jpg" /></li><li><a href="https://colorlib.com/demo?theme=music" >Music <span style="background-color: #ff99cc">Music</span></a><img alt="" class="preview" src="https://colorlib.com/wp-content/uploads/2018/01/music-free-fullscreen-musician-website-template-pr.jpg" /></li><li><a href="https://colorlib.com/demo?theme=fashion" >Fashion <span style="background-color: #33cccc">Fashion</span></a><img alt="" class="preview" src="https://colorlib.com/wp-content/uploads/2018/01/fashion-bold-free-fashion-website-template-pr.jpg" /></li><li><a href="https://colorlib.com/demo?theme=eshop" >Eshop <span style="background-color: #0000ff">eCommerce</span></a><img alt="" class="preview" src="https://colorlib.com/wp-content/uploads/2018/01/e-shop-free-ecommerce-website-template-pr.jpg" /></li><li><a href="https://colorlib.com/demo?theme=platina" >Platina <span style="background-color: #99cc00">Travel</span></a><img alt="" class="preview" src="https://colorlib.com/wp-content/uploads/2018/01/platina-free-travel-agency-website-template-pe.jpg" /></li><li><a href="https://colorlib.com/demo?theme=travelasia" >Travelasia <span style="background-color: #99cc00">Travel</span></a><img alt="" class="preview" src="https://colorlib.com/wp-content/uploads/2018/01/travelasia-free-creative-travel-agency-booking-template-pr.jpg" /></li><li><a href="https://colorlib.com/demo?theme=eventasia" >Eventasia <span style="background-color: #3366ff">Event</span></a><img alt="" class="preview" src="https://colorlib.com/wp-content/uploads/2018/01/evantasia-free-fullscreen-event-website-template-pr.jpg" /></li><li><a href="https://colorlib.com/demo?theme=mediplus" >Mediplus <span style="background-color: #3366ff">Medical</span></a><img alt="" class="preview" src="https://colorlib.com/wp-content/uploads/2018/01/medi-plus-free-medical-website-template-pr.jpg" /></li><li><a href="https://colorlib.com/demo?theme=charity" >Charity <span style="background-color: #993300">Charity</span></a><img alt="" class="preview" src="https://colorlib.com/wp-content/uploads/2018/01/charity-free-non-profit-donation-website-template-pr.jpg" /></li><li><a href="https://colorlib.com/demo?theme=philosophy" >Philosophy <span style="background-color: #ffff00">Blog</span></a><img alt="" class="preview" src="https://colorlib.com/wp-content/uploads/2018/01/philosophy-free-lifestyle-blog-website-template-pr-1.jpg" /></li><li><a href="https://colorlib.com/demo?theme=medical" >Medical <span style="background-color: #3366ff">Medical</span></a><img alt="" class="preview" src="https://colorlib.com/wp-content/uploads/2018/01/medical-free-clean-health-website-template-pr.jpg" /></li><li><a href="https://colorlib.com/demo?theme=lawfirm" >Lawfirm <span style="background-color: #666699">Lawyer</span></a><img alt="" class="preview" src="https://colorlib.com/wp-content/uploads/2018/01/lawfirm-free-fullscreen-lawyer-website-template-pr.jpg" /></li>
</ul>

</li>

</ul>



<div class="share">

<ul>

<li><a href="https://twitter.com/share" class="twitter-share-button" data-url="https://colorlib.com/wp/template/coloshop/" data-lang="en">Tweet</a>

<script>!function(d, s, id) {

var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';

if (!d.getElementById(id)) {

js = d.createElement(s);

js.id = id;

js.src = p + '://platform.twitter.com/widgets.js';

fjs.parentNode.insertBefore(js, fjs);

}

}(document, 'script', 'twitter-wjs');</script></li>

<li>

<div id="fb-root"></div>

<script>(function(d, s, id) {

var js, fjs = d.getElementsByTagName(s)[0];

if (d.getElementById(id)) return;

js = d.createElement(s); js.id = id;

js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.7";

fjs.parentNode.insertBefore(js, fjs);

}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-share-button" data-href="https://colorlib.com/wp/template/coloshop/" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://colorlib.com/wp/template/coloshop/%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share</a></div>

</li>
</ul>
</div>
<ul class="links">
<li class="purchase" rel="https://colorlib.com/wp/template/coloshop/"> <a href="https://colorlib.com/wp/template/coloshop/"><img src="https://colorlib.com/wp-content/plugins/fbar/images/download-button.png" alt="Download This Template" /> Download</a> </li>
<li class="close" rel="https://colorlib.com/etc/coloshop/index.html"> <a href="https://colorlib.com/etc/coloshop/index.html"><img src="https://colorlib.com/wp-content/plugins/fbar/images/cross.png" alt="Close Template Preview" /> Close</a></li>
</ul>
</div>
</div>
<iframe id="iframe" src="https://colorlib.com/etc/coloshop/index.html" frameborder="0" width="100%" height="100%"></iframe>

<script type="text/javascript">window.NREUM||(NREUM={});NREUM.info={"beacon":"bam.nr-data.net","licenseKey":"155b0a1326","applicationID":"62323057","transactionName":"YABaYkFQXkBZW0JYWVlKbURaHlldXF1OH0ZfFQ==","queueTime":0,"applicationTime":50,"atts":"TEdZFAlKTU4=","errorBeacon":"bam.nr-data.net","agent":""}</script></body>

</html>


