<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Carousel Template for Bootstrap</title>

    <!-- Custom styles for this template -->

    <%= stylesheet_link_tag 'carousel.css' %> <%=
    javascript_include_tag("search_result.js") %>

    <link
      href="/vendors/font-awesome/css/font-awesome.min.css"
      rel="stylesheet"
		/>
		<style>
			.item_detail_span:hover{
				border: 1px solid #DCDCDC;
			}

			.user_detail_span:hover{
				border: 1px solid #C0C0C0;
				cursor: pointer;
			}
		</style>
  </head>

  <body>
    <main role="main" class="container" style="margin-top:30px;">
      <!-- Possible User Found -->
      <div
        class="row"
        id="user_section"
        style="margin-bottom:10px;display:none;"
      >
        <div class="col-md-3">
          <span class="text-secondary h5" style="margin-left:20px;"
            >Are you looking for...
          </span>
        </div>

        <div class="col-md-8">
          <div class="card" style="cursor:pointer" id="user_card">
            <div class="card-body" style="padding:1%">
              <div class="row">
                <div class="col-md-2">
                  <img
                    class="img-thumbnail"
                    id="suggested_user_photo"
                    style="width:60px; margin-left:10px;"
                    src="https://upload.wikimedia.org/wikipedia/commons/f/fb/M%C3%BCnze_Niederl%C3%A4ndische_Ostindien_Companie.jpg"
                  />
                </div>
                <div class="col-md-8">
                  <strong id="suggested_user_name">Kwanstyle</strong
                  >&nbsp;&nbsp;<a id="suggested_user_gender"
                    ><i class="fa fa-mars text-primary" aria-hidden="true"></i
                  ></a>
                  <br />
                  <span class="badge badge-info"
                    >Rate on Borrowing - <i class="fa fa-star"></i>
                    <a id="suggest_user_borrow_rate">4.5</a></span
                  >
                  &nbsp;&nbsp;<span class="badge badge-info"
                    >Rate on Lending - <i class="fa fa-star"></i>
                    <a id="suggest_user_lend_rate">4.5</a></span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12"><hr /></div>
      </div>

      <div class="row" id="filter_section">
        <div class="col-12">
          <div class="card card-body">
            <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                  <label><strong>Show requests that are</strong></label>
                  <div class="row">
                    <div class="col-sm-2">
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="pending_checkbox"
                          value="option1"
                          checked
                        />
                        <label class="form-check-label" for="inlineCheckbox1"
                          >Pending</label
                        >
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="completed_checkbox"
                          value="option2"
                          checked
                        />
                        <label class="form-check-label" for="inlineCheckbox2"
                          >Completed</label
                        >
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="accepted_checkbox"
                          value="option3"
                          checked
                        />
                        <label class="form-check-label" for="inlineCheckbox3"
                          >Accepted</label
                        >
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="rejected_checkbox"
                          value="option3"
                          checked
                        />
                        <label class="form-check-label" for="inlineCheckbox3"
                          >Rejected</label
                        >
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="cancelled_checkbox"
                          value="option3"
                          checked
                        />
                        <label class="form-check-label" for="inlineCheckbox3"
                          >Cancelled</label
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <label for="exampleFormControlInput1"
                  ><strong>Show requests created</strong></label
                >
                <select class="form-control form-control-sm" id="range_filter">
                  <option value="all">since your account created</option>
                  <option value="1month">in last 1 month</option>
                  <option value="3month">in last 3 months</option>
                  <option value="6month">in last 6 months</option>
                  <option value="1year">in last 1 year</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="row"
        id="itemISBN_section"
        style="margin-top:15px;margin-top:25px;"
      >
        <div class="col-md-12">
          <hr />
          <span
            ><a id="isbn_result_length"></a> result(s) found for ISBN number:
            <ins id="isbn_keyword">102301u3712093702913</ins></span
          >
          <hr />
				</div>
				
      </div>

      <div
        class="row"
        id="itemNameBrand_section"
        style="margin-top:15px;margin-top:25px;"
      >
        <div class="col-md-12">
          <hr />
          <span
            ><a id="namebrand_result_count"></a> result(s) found for
            "<ins id="namebrand_keyword"></ins>"</span
          >
          <hr />
        </div>
      </div>
      <div class="row" style="margin-top:10px;" id="corrected_results_section">
        <div class="col-md-12">
          <hr />
          <span
            >No results found for <a id="original_keyword">Haha</a>, but we
            found <a id="corrected_keyword_results_count"></a> result(s) found for
            <ins id="corrected_keyword" class="text-warning">Haha</ins></span
          >
          <hr />
        </div>
			</div>
			<div class="row" style="margin-top:20px; margin-bottom:20px" id="no_results_section">
				<div class="col-12 text-center">
						<h4 class="text-muted">No results found found for "<a id="keyword_no_results"></a>"</h4>
				</div>
			</div>
      <hr />
    </main>

    <!--
      Bootstrap core JavaScript
      ==================================================
    -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script>
      window.jQuery ||
        document.write(
          '<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>'
        );
    </script>
    <!--
      Just to make our placeholder images work. Don't actually copy the next line!
    -->
  </body>
</html>
