<!--
  * This modified template file is referenced to coreui.io,
  * along with other third-party stylesheets and javascript files.
  * Source Repository: https://github.com/coreui/coreui-free-bootstrap-admin-template
-->

<!--
  * CoreUI - Free Bootstrap Admin Template
  * @version v2.1.7
  * @link https://coreui.io
  * Copyright (c) 2018 creativeLabs Åukasz Holeczek
  * Licensed under MIT (https://coreui.io/license)
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta information used for SEO -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <meta
      name="description"
      content="Neighborrow - Your Platform to Borrow and Lend"
    />
    <meta name="author" content="Neighborrow" />
    <meta name="keyword" content="Borrow, Lend, CSC444" />
    <%= javascript_tag "window._token = '#{form_authenticity_token}'" %> <%=
    javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <title>Neighborrow - Blank</title>

    <!-- CSS files for third-party icons -->
    <link
      href="/vendors/@coreui/icons/css/coreui-icons.min.css"
      rel="stylesheet"
    />
    <link
      href="/vendors/flag-icon-css/css/flag-icon.min.css"
      rel="stylesheet"
    />
    <link
      href="/vendors/font-awesome/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link
      href="/vendors/simple-line-icons/css/simple-line-icons.css"
      rel="stylesheet"
    />

    <!-- Base stylesheets & third-party stylesheets -->
    <link href="/vendors/@coreui/coreui/css/style.css" rel="stylesheet" />
    <link href="/vendors/pace-progress/css/pace.min.css" rel="stylesheet" />

    <!-- Customized stylesheet goes here -->
  </head>

  <body
    class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-md-show"
    data-turbolinks="false"
  >
    <header
      class="app-header navbar"
      style="width:100%"
      id="headerModule"
    ></header>
    <div class="app-body">
      <div class="sidebar" id="menuModule"></div>
			<main class="main">
			<span id="subHeaderModule" class="d-xl-none d-lg-none"></span>
        <div class="container-fluid">
          <div class="row" style="margin-top:30px">
            <div class="col-12">
              <h4>Welcome back, <a id="dashboard-username"></a>!</h4>
              <hr />
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="card">
                <div class="card-body">
                  <span class="h1 text-muted text-right  pull-right">
                    <i class="fa fa-star-o"></i>
                  </span>
                  <div class="text-value" id="main_rateBorrow">-</div>
                  <div>Rate of Borrowing</div>
                  <div class="progress progress-xs my-2">
                    <div
                      class="progress-bar bg-success"
                      role="progressbar"
                      style="width: 100%"
                    ></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card">
                <div class="card-body">
                  <span class="h1 text-muted text-right  pull-right">
                    <i class="fa fa-star"></i>
                  </span>
                  <div class="text-value" id="main_rateLend">-</div>
                  <div>Rate of Lending</div>
                  <div class="progress progress-xs my-2">
                    <div
                      class="progress-bar bg-info"
                      role="progressbar"
                      style="width: 100%"
                    ></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card">
                <div class="card-body">
                  <span class="h1 text-muted text-right  pull-right">
                    <i class="fa fa-money"></i>
                  </span>
                  <div class="text-value" id="main_credit">-</div>
                  <div>Credit</div>
                  <div class="progress progress-xs my-2">
                    <div
                      class="progress-bar bg-warning"
                      role="progressbar"
                      style="width: 100%"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <i class="fa fa-list-ul"></i> Pending Requests
                </div>
                <div class="card-body">
                  <div class="row" id="pending_requests_section">
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <div class="card-header">
                  <i class="fa fa-send-o"></i> Lended Items
                </div>
                <div class="card-body">
                  <div class="row" id="lended_items_section"></div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <div class="card-header">
                  <i class="fa fa-inbox"></i> Borrowed Items
                </div>
                <div class="card-body">
                  <div class="row" id="borrowed_items_section"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>

    <footer class="app-footer" id="footerModule"></footer>

    <!-- CoreUI and other third-party plugins (js files) -->
    <script src="/vendors/jquery/js/jquery.min.js"></script>
    <script src="/vendors/popper.js/js/popper.min.js"></script>
    <script src="/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendors/pace-progress/js/pace.min.js"></script>
    <script src="/vendors/perfect-scrollbar/js/perfect-scrollbar.min.js"></script>
    <script src="/vendors/@coreui/coreui/js/coreui.min.js"></script>
    <script src="/vendors/momentjs/moment.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- Customized Javascript file goes here -->
    <script src="/assets/js/dashboard-init.js?version=1"></script>
    <script src="/assets/js/user_dashboard.js?version=1"></script>
  </body>
</html>
