<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico">
    
    <!-- Custom styles for this template -->
    <%= stylesheet_link_tag 'album.css' %>

</head>

<body>
    
    <div id="wrapper">
        
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Start Bootstrap
                    </a>
                </li>
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Shortcuts</a>
                </li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <button class="dropdown-btn">Dropdown
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <li>
                    <a href="#">Link 1</a>
                    </li>
                    <li>
                    <a href="#">Link 2</a>
                    </li>
                    <li>
                    <a href="#">Link 3</a>
                    </li>
                </div>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <h1>Simple Sidebar</h1>
                <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle Menu</a>
                <div class="album text-muted">
                    <div class="container">
                        <div class="row">
                            <% @category.items.each do |item| %>
                            <div class="card">
                                <%= link_to image_tag("#{item.id}.jpg",width: 356, height: 280), item_path(item) %>
                                <p class="card-text"><%= item.name %></p>
                                <p class="card-text"><%= item.description %></p>
                            </div>
                            <% end %>
                        </div>
                    </div>
                </div>
                <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle Menu</a>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
        
    </div>
    <!-- /#wrapper -->
    
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    
    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function(e) {
                                e.preventDefault();
                                $("#wrapper").toggleClass("toggled");
                                });
        
        /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;
        
        for (i = 0; i < dropdown.length; i++) {
            dropdown[i].addEventListener("click", function() {
                                         this.classList.toggle("active");
                                         var dropdownContent = this.nextElementSibling;
                                         if (dropdownContent.style.display === "block") {
                                         dropdownContent.style.display = "none";
                                         } else {
                                         dropdownContent.style.display = "block";
                                         }
                                         });
        }
    </script>
    </script>
    
</body>
</html>


