<!--
* This modified template file is referenced to bootsnip
* along with other third-party stylesheets and javascript files.
* Source Repository: https://bootsnipp.com/snippets/bxQ0d
-->


<!DOCTYPE html>
<html lang="en">

<head>
<!-- Meta information used for SEO -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<meta name="description" content="Neighborrow - Your Platform to Borrow and Lend">
<meta name="author" content="Neighborrow">
<meta name="keyword" content="Borrow, Lend, CSC444">


<!-- Base stylesheets & third-party stylesheets-->
<link href="/vendors/@coreui/coreui/css/style.css" rel="stylesheet">

<!-- Customized stylesheet goes here-->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<script>
@import url('https://fonts.googleapis.com/css?family=Cairo');

body{
font-family: 'Cairo', sans-serif;
}

.contact p {
padding: 30px 0px;
}

.contactButton{
font-size: 16px;
font-weight: bold;
background: #19aa8d;
border: none;
min-width: 140px;
}
</script>
</head>

<body class="app">

<div class="app-body">

<%if logged_in? %>
<div class="sidebar" id="menuModule"></div>
<%end%>

<main class="main">



<div class="row align-items-center">
<div class="container mt-5" >

<div class="row" style="height:550px;">
<div class="col-md-6 maps" >
<img src="/assets/img/share.jpg" alt="hello" height="550" width="100%" allowfullscreen>
</div>

</p>


<div id="about" class="contact col-md-6 col-sm-12 align-self-center">
<div class="section-header">
<h4 class="section-title text-uppercase font-weight-bold">About Our Service</h4>
<span class="section-divider"></span>
<p class="section-description">
At Neighborrow, we believe that everyone should be able to borrow the things that they want, in a safe and diverse community.
</p>
</div>
<p>
We have a vision that one day, people in the Toronto community will be able to constantly share their belongings with each other, all in one convenient and safe place.
</p>

<ul>
<li><i class="ion-android-checkmark-circle"></i> Borrow anything, from moutain bikes to video games.</li>
<li><i class="ion-android-checkmark-circle"></i> Lend with peace of mind, knowing you are fully covered in case of loss or damage.</li>
<li><i class="ion-android-checkmark-circle"></i> Connect with a wide and diverse community, all located within your Neighborrowhood.</li>
</ul>

<p>
We hope you enjoy using our service as much as we do. If you have any questions or comments, don’t hesitate to send us an email, and we will get back to you as soon as we can. We're excited for you to join us!
</p>
</div>
</div>
</div>
</div>

</main>
</div>







</body>

</html>
