<style>


/* About Us Section
--------------------------------*/
#about {
padding: 60px 0;
overflow: hidden;
}

#about .about-img {
height: 510px;
overflow: hidden;
}

#about .about-img img {
margin-left: -15px;
max-width: 100%;
}

@media (max-width: 768px) {
#about .about-img {
height: auto;
}
#about .about-img img {
margin-left: 0;
padding-bottom: 30px;
}
}

#about .content .h2 {
color: #333;
font-weight: 300;
font-size: 24px;
}

#about .content h3 {
color: #777;
font-weight: 300;
font-size: 18px;
line-height: 26px;
font-style: italic;
}

#about .content p {
line-height: 26px;
}

#about .content p:last-child {
margin-bottom: 0;
}

#about .content i {
font-size: 20px;
padding-right: 4px;
color: #1dc8cd;
}

#about .content ul {
list-style: none;
padding: 0;
}

#about .content ul li {
padding-bottom: 10px;
}

</style>


<!--==========================
 About Us Section
 ============================-->
<section id="about" class="section-bg" style="padding-top:90px;">
    <div class="container-fluid">
        <div class="section-header" style="padding-bottom:60px;">
            <h3 class="section-title">About Our Service</h3>
            <span class="section-divider"></span>
            <p class="section-description">
            At Neighborrow, we believe that everyone should be able to borrow the things that they want, in a safe and diverse community.
            </p>
        </div>
        
        <div class="row">
            <div class="col-lg-6">
                <img src="/assets/img/share.jpg" alt="hello" height="520" width="560">
                    </div>
            
            <div class="col-lg-6">
                <p>
                We have a vision that one day, people in the Toronto community will be able to constantly share their belongings with each other, all in one convenient and safe place.
                </p>
                
                <ul>
                    <li><i class="ion-android-checkmark-circle"></i> Borrow anything, from moutain bikes to video games.</li>
                    <li><i class="ion-android-checkmark-circle"></i> Lend with peace of mind, knowing you are fully covered in case of loss or damage.</li>
                    <li><i class="ion-android-checkmark-circle"></i> Connect with a wide and diverse community, all located within your Neighborrowhood.</li>
                </ul>
                
                <p>
                We hope you enjoy using our service as much as we do. If you have any questions or comments, don’t hesitate to send us an email, and we will get back to you as soon as we can. We're excited for you to join us!
                </p>
                
                <div class="section-header" style="padding-top:16px">
                    <span class="section-divider"></span>
                    <p class="section-description">
                    Are you ready to sign up to start lending and borrowing now?
                    </p>
                    <ul>
                        <li><a class="section-header" href="/accounts/new">Take me to Sign up now!</a></li>
                    </ul>
                </div>
                
            </div>
        </div>
        
    </div>
</section><!-- #about -->



