<style>
    /* ==================================================
     Portfolio Styling
     ================================================== */
.portfolio {
    background-color: #E59500;
    padding-bottom: 0;
}

.portfolio h2 {
    color: #199EB8;
    margin-bottom: 25px;
}

.portfolio-grid {
    margin-top: 65px;
}

.portfolio-grid .row {
    margin: 0;
}

.portfolio-grid .row > div {
    padding: 0;
}

.portfolio-grid .row > div .card img {
    width: 100%;
    height: 100%
}

.portfolio-grid .row > div .card .portfolio-over {
    position: absolute;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.portfolio-grid .row > div .card .portfolio-over > div {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.portfolio-grid .row > div .card .portfolio-over .card-title {
    color: #fff;
    font-size: 30px;
}

.portfolio-grid .row > div .card .portfolio-over .card-text {
    color: #fff;
    opacity: .75;
    padding: 0 45px;
}

.portfolio-grid .row > div .card:hover .portfolio-over {
    opacity: 1;
    visibility: visible;
}

.cover {
    object-fit: cover;
    width: 50px;
    height: 100px;
}

</style>


<section id="categories" class="section-bg" style="background:#fff !important;">
    <div class="section-header">
        <h3 class="section-title">Browse Categories</h3>
        <span class="section-divider"></span>
        <p class="section-description">
            Lend itens from your Neighbor
        </p>
    </div>
</div>

    <div class="portfolio-grid">
        <div class="row">
            <% departments = Department.all() %>
            <% departments.each do |dep| %>
	            <div class="col-lg-3 col-sm-6 col-xs-12">
	                <div class="card">
	                    <%= link_to image_tag("cat#{dep.id}.jpg", style: "margin:0; height: 220px; width: 100%; max-width:100%"), :class => 'cover' %>
                        <div class="portfolio-over">
                            <div>
                                <h2  style:"color:black">
                                    <%= link_to "#{dep.name}", :action => 'index',
                                        :controller => 'itens',:department => dep.name %>
                                </h2>
                            </div>
                        </div>
	                </div>
	            </div>
            <% end %>
	    </div><!-- /.row -->
	</div>
</div>
</section>
