
<div class="row">
    <% categories.each do |cat| %>
    <div class="col-lg-3">
        <% if cat.id == 1%>
        <img class="rounded-circle" src="/assets/img/cat1.jpg" alt="hello world" width="200" height="200" style="
            display: block;
            margin-left: auto;
            margin-right: auto;
            ">
        <% end %>
        
        <% if cat.id == 2%>
        <img class="rounded-circle" src="/assets/img/cat2.jpg" alt="hello world" width="200" height="200" style="
            display: block;
            margin-left: auto;
            margin-right: auto;
            ">
            <% end %>
            
        <% if cat.id == 3%>
            <img class="rounded-circle" src="/assets/img/cat3.jpg" alt="hello world" width="200" height="200" style="
                display: block;
                margin-left: auto;
                margin-right: auto;
                ">
        <% end %>
                
        <% if cat.id == 4%>
                <img class="rounded-circle" src="/assets/img/cat4.jpg" alt="hello world" width="200" height="200" style="
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    ">
        <% end %>
                    
                    
            <%= link_to "#{cat.name}", category_path(cat), :class => "btn btn-secondary" %>
            </div><!-- /.col-lg-4 -->
    <% end %>
    </div><!-- /.row -->
