

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
<a class="navbar-brand" href="/">LOGO</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarCollapse">
    <% if logged_in? %>
    <li><%= link_to "MyAccount:#{@current_user.id}", '#' %></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Account <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><%= link_to "Profile", current_user %></li>
            <li><%= link_to "Settings", '#' %></li>
            <li class="divider"></li>
            <li><%= link_to "Log out", logout_path, method: :delete %></li>
        </ul>
    </li>
    <% else %>
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        <a class="nav-link" href="/accounts/new">Sign Up <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active mt-2 mt-md-0">
        <a class="nav-link" href="/login">Log In <span class="sr-only">(current)</span> </a>
        </li>
        </ul>
    <% end %>
    
<form class="form-inline mt-2 mt-md-0">
<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
</div>
</nav>
