<!--
 * This modified template file is referenced to bootsnipp,
 * along with other third-party stylesheets and javascript files.
 * Source Repository: https://bootsnipp.com/snippets/z8699
 -->


<!DOCTYPE html>
<html lang="en">
    
    <head>
        
        <link href="/vendors/@coreui/coreui/css/style.css" rel="stylesheet">
            <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
                <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
                <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
                    
                    <style type="text/css">
                        .divider-text {
                            position: relative;
                            text-align: center;
                            margin-top: 15px;
                            margin-bottom: 15px;
                        }
                    .divider-text span {
                        padding: 7px;
                        font-size: 12px;
                        position: relative;
                        z-index: 2;
                    }
                    .divider-text:after {
                        content: "";
                        position: absolute;
                        width: 100%;
                        border-bottom: 1px solid #ddd;
                        top: 55%;
                        left: 0;
                        z-index: 1;
                    }
                    .btn-facebook {
                        background-color: #405D9D;
                        color: #fff;
                    }
                    .btn-google{
                        background-color: #DD4B39;
                        color: #fff;
                    }
                    </style>
    </head>
    
    <body class="app header-fixed">
        <div class="app-body flex-row align-items-center">
            <main class="main">

                
                
                <div class="align-items-center">
                    <article class="mx-auto " style="max-width: 400px;">
                        <%= form_for @account, url: accounts_path do |f| %>
                        
                        <form action="" method="post">
                            <% if @account.errors.any? %>
                            <div id="error_explanation">
                                <div class="alert alert-danger">
                                    <ul>
                                        <% @account.errors.full_messages.each do |msg| %>
                                        <li><%= msg %></li>
                                        <% end %>
                                    </ul>
                                </div>
                            </div>
                            <% end %>
                            <h3 class="card-title mt-3 text-center">Sign Up</h3>
                            <p class="text-center">Are you ready to join Neighborrow?</p>
                            <p>
                            <a href="/auth/google_oauth2" class="btn btn-block btn-google"> <i class="fab fa-google"></i>   Sign Up via Google</a>
                            <a href="/auth/facebook" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Sign Up via Facebook</a>
                            </p>
                            <p class="divider-text">
                            <span class="bg-light">OR</span>
                            </p>
                            
                            <form>
                                
                                <!-- form-group// -->
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                                    </div>
                                    <input class="form-control" placeholder="Email address" type="email" name="account[email]" required="required">
                                </div>
                                
                                <!-- form-group// -->
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                    </div>
                                    <input class="form-control" type="password" name="account[password]" placeholder="Password (Minimum 8 characters)" required="required" pattern=".{8,}">
                                </div>
                                
                                <!-- form-group// -->
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                    </div>
                                    <input class="form-control" type="password" name="account[password_confirmation]" placeholder="Confirm Password" required="required">
                                </div>
                                
                                <!-- form-group// -->
                                <div class="form-group">
                                    <label class="checkbox-inline"><input type="checkbox" required="required"> I accept the <a href="/termsOfService" target="_blank">Terms of Service</a> &amp; <a href="/privacyPolicy" target="_blank">Privacy Policy</a></label>
                                </div>
                                
                                <!-- form-group// -->
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
                                </div>
                                <%end%>
                                
                                <!-- form-group// -->
                                <p class="text-center">Have an account? <a href="/login">Log In</a> </p>
                                
                                
                            </form>
                    </article>
                </div> <!-- card.// -->
                
            </main>
        </div>
        <!--container end.//-->
        
        
    </body>
</html>
