<!--
* This modified template file is referenced to coreui.io,
* along with other third-party stylesheets and javascript files.
* Source Repository: https://github.com/coreui/coreui-free-bootstrap-admin-template
-->

<!--
* CoreUI - Free Bootstrap Admin Template
* @version v2.1.7
* @link https://coreui.io
* Copyright (c) 2018 creativeLabs Åukasz Holeczek
* Licensed under MIT (https://coreui.io/license)
-->

<!DOCTYPE html>
<html lang="en">

<head>
<!-- Meta information used for SEO -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<meta name="description" content="Neighborrow - Your Platform to Borrow and Lend">
<meta name="author" content="Neighborrow">
<meta name="keyword" content="Borrow, Lend, CSC444">
<title>Neighborrow - Blank</title>

<!-- CSS files for third-party icons-->
<link href="/vendors/@coreui/icons/css/coreui-icons.min.css" rel="stylesheet">
<link href="/vendors/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
<link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="/vendors/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

<!-- Base stylesheets & third-party stylesheets-->
<link href="/vendors/@coreui/coreui/css/style.css" rel="stylesheet">
<link href="/vendors/pace-progress/css/pace.min.css" rel="stylesheet">

<!-- Customized stylesheet goes here-->
</head>

<body>
<main class="main">
<h1>Welcome!</h1>
<h1>Congratulations!</h1>
</p>To activate your account, please verify your email address by following the instructions in the verification email that we have just sent.<p>
<p>If the confirmation email doesn't arrive within the next 5 minutes. Please try to sign up again or contact our technical support at sixneighborrow@gmail.com.</p>
</main>
</body>
</html>
